mixin footer
  footer(style='margin-top: 5rem')
    .container
      .row
        ul(style='list-style-type: none')
          li(style='float: left;'): a(href='#', style='padding-right: 2rem') First Link
          li(style='float: left;'): a(href='#', style='padding-right: 2rem') Second Link
          li(style='float: left;'): a(href='#', style='padding-right: 2rem') Third Link
          li(style='float: left;'): a(href='#', style='padding-right: 2rem') Fourth Link
            
      .row
        p Made by Sam &amp; Alex in Athens and Marietta.
