mixin form
  //h3 Stay in Touch
  form
    .form-row
      .col-md-1
      .form-group.col-md-5
        input.form-control(type='text', placeholder='First Name')
      .form-group.col-md-5
        input.form-control(type='text', placeholder='Surname')
      .col-md-1
    .form-row
      .col-md-1
      .form-group.col-md-10
        input.form-control(type='email', placeholder='Email Address')
      .col-md-1
