extends layout
include form.pug

block content
  section
    .jumbotron.card.card-image(style='background-image:url(images/weights-1948837_1920.jpg);background-position:bottom right')
      .curtain(style='background-color: black;opacity: 0.65;width :100%;height: 100%;position: absolute;top: 0;left: 0')
      .container(style='padding-top: 5em;padding-bottom: 5em;z-index:10')
        h3.card-title.h1-responsive.pt-3.mb-5.font-bold.text-white In 10 sessions you'll feel the difference, in 20 you'll see the difference, and in 30 you'll have a new body.
        p.text-white.mx-5.mb-5 -Joseph Pilates
  
  section
    .card.mb-3(style='border:none')
      .row.no-gutters
        .col-md-1
        .col-md-7
          h3 About Me
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper neque ut dolor scelerisque condimentum. In libero dui, ornare et bibendum eu, dignissim in ipsum. Donec consequat imperdiet ipsum vel rutrum. Proin faucibus iaculis urna id scelerisque. Mauris efficitur consequat dolor, a malesuada dui. Nunc ac consequat dolor. Nullam porta, est vel suscipit interdum, quam erat pharetra sapien, sed auctor nulla felis ornare augue. Aliquam erat volutpat. Curabitur et odio consequat, viverra odio in, porttitor tortor. Aenean quis est scelerisque, sodales elit at, tincidunt turpis. Duis vitae arcu eu eros rhoncus porta. Suspendisse lacus lorem, commodo in porta et, molestie ut nisi. Vivamus vel aliquet neque. Aenean elementum rutrum neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper neque ut dolor scelerisque condimentum. In libero dui, ornare et bibendum eu, dignissim in ipsum. Donec consequat imperdiet ipsum vel rutrum. Proin faucibus iaculis urna id scelerisque. Mauris efficitur consequat dolor, a malesuada dui. Nunc ac consequat dolor. Nullam porta, est vel suscipit interdum, quam erat pharetra sapien, sed auctor nulla felis ornare augue. Aliquam erat volutpat. Curabitur et odio consequat, viverra odio in, porttitor tortor. Aenean quis est scelerisque, sodales elit at, tincidunt turpis. Duis vitae arcu eu eros rhoncus porta. Suspendisse lacus lorem, commodo in porta et, molestie ut nisi. Vivamus vel aliquet neque. Aenean elementum rutrum neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        .col-md-1
        .col-md-1(style='padding-top:5rem')
          img(src='images/4cab43_543d5e2aebf348d4831d111d23541813_mv2.jpg' alt='mrs. k')
          figcaption Mrs. K
  
  section
    .card.mb-3(style='border:none')
      .row.no-gutters
        .col-md-1
        .col-md-1(style='padding-top:5rem')
          img(src='images/4cab43_543d5e2aebf348d4831d111d23541813_mv2.jpg' alt='mrs. k')
          figcaption Mrs. K
        .col-md-2
        .col-md-7
          h3 What I Do
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper neque ut dolor scelerisque condimentum. In libero dui, ornare et bibendum eu, dignissim in ipsum. Donec consequat imperdiet ipsum vel rutrum. Proin faucibus iaculis urna id scelerisque. Mauris efficitur consequat dolor, a malesuada dui. Nunc ac consequat dolor. Nullam porta, est vel suscipit interdum, quam erat pharetra sapien, sed auctor nulla felis ornare augue. Aliquam erat volutpat. Curabitur et odio consequat, viverra odio in, porttitor tortor. Aenean quis est scelerisque, sodales elit at, tincidunt turpis. Duis vitae arcu eu eros rhoncus porta. Suspendisse lacus lorem, commodo in porta et, molestie ut nisi. Vivamus vel aliquet neque. Aenean elementum rutrum neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper neque ut dolor scelerisque condimentum. In libero dui, ornare et bibendum eu, dignissim in ipsum. Donec consequat imperdiet ipsum vel rutrum. Proin faucibus iaculis urna id scelerisque. Mauris efficitur consequat dolor, a malesuada dui. Nunc ac consequat dolor. Nullam porta, est vel suscipit interdum, quam erat pharetra sapien, sed auctor nulla felis ornare augue. Aliquam erat volutpat. Curabitur et odio consequat, viverra odio in, porttitor tortor. Aenean quis est scelerisque, sodales elit at, tincidunt turpis. Duis vitae arcu eu eros rhoncus porta. Suspendisse lacus lorem, commodo in porta et, molestie ut nisi. Vivamus vel aliquet neque. Aenean elementum rutrum neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        //.col-md-1
  +form
